<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Issue tracker:<%= title ?? 'Welcome' %></title>
    <link  type="text/css" rel="stylesheet" href="/css/style.css">
    <script src="/js/tailwindcss.com"></script>
    <script content-type="application/javascript; charset=UTF-8" type="text/javascript" src="/js/flowbite.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script> -->
    
    <script>
    // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
    if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
    </script>
    <%- style %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>
    <%- body %>
    <%- include('./partials/_footer.ejs') %>

    <%- script %>
    <script src="/js/main.js"></script>
</body>
</html>