
<script src="/js/custom/ajax-call.js"></script>
<div class="card">
  <div class="card-body">
    <div class="card-title d-flex">
        <a href="/project/create" class="btn btn-block btn-lg btn-gradient-primary mt-4 ml-auto">+ Create project</a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Projects name</th>
          <th>Description</th>
          <th>Author</th>
          <!-- <th>Status</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.length) {%> <% for(let item of data) {%>
        <tr>
          <td><%= item.project %> <a href="/project/<%= item._id %>"><i class="mdi mdi-open-in-new"></i></a></td>
          <td><%= item.description %></td>
          <td class="text-danger"><%= item.author %></i></td>
          <!-- <td>
            <label class="badge badge-<%= item.status ? 'danger' : 'success' %>">
              <%= item.status ? 'Open' : 'Closed' %>
            </label>
          </td> -->
          <td>
            <div class="d-flex justify-content-start align-items-center">
              <span class="btn-icon mr-2">
                <a href="/project/edit/<%= item.id %>" class="text-white">
                  <i class="mdi mdi-pencil"></i>
                </a>
              </span>
              <span class="btn-icon ">
                <button type="button" onclick="confirmation('project',`<%= item._id %>`)" class="btn btn-sm text-white" >
                  <i class="mdi mdi-delete"></i>
                </button>
              </span>
            </div>
          </td>
        </tr>
        <% } %> <% }else{ %>
            <tr>
                <td colspan="4">no record found...</td>
            </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
