<div class="relative overflow-x-auto my-5">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Projects name</th>
        <th scope="col" class="px-6 py-3">Description</th>
        <th scope="col" class="px-6 py-3">Author</th>
      </tr>
    </thead>
    <tbody>
      <% if(!data.isEmpty) {%> <% for(let item of data) {%>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <a href="/project/<%= item._id %>">
            <%= item.project %>
          </a>
        </th>
        <td class="px-6 py-4"><%= item.description %></td>
        <td class="px-6 py-4"><%= item.author %></td>
      </tr>
      <% } %> <% }else{ %>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          colspan="3"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          No record found...
        </th>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% if (data.length >10) { %>
    <%- include('../partials/_pagination')%> 
  <% } %>
</div>
